/*
variables
*/

@font-face { font-family: Xolonium; src: url('/media/fonts/Xolonium-Regular.otf');}
@font-face { font-family: Xolonium; font-weight: bold; src: url('/media/fonts/Xolonium-Bold.otf');}
@font-face { font-family: OpenSans; src: url('/media/fonts/OpenSans-Regular.ttf');}
@font-face { font-family: OpenSans; font-weight: bold; src: url('/media/fonts/OpenSans-Bold.ttf');}
@font-face { font-family: OpenSans; font-style: italic; src: url('/media/fonts/OpenSans-Italic.ttf');}
@font-face { font-family: OpenSans; font-weight: bold; font-style: italic; src: url('/media/fonts/OpenSans_BoldItalic.ttf');}
@font-face { font-family: Modernpics; src: url('/media/fonts/modernpics.otf');}

@red: #ce0000;
@lightgray: #F0F0F0;
@medgray: #ccc;
@darkgray: #666;

/*
mixins
*/

.border-radius (@radius: 5px, @color: white) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    border:1px solid @color;
}

body {
    padding: 0;
    margin: 0;
    color:#000000;
    font-size: 12px;
    line-height: 1.4;
    font-family:OpenSans;
}

html, body, #map {
    height: 100%;
    overflow: hidden;
}

main {
    position:absolute;
    right:12px;
    top:12px;
    z-index:3;
    background-color:rgba(255, 255, 255, 0.6);
    color:black;
    -moz-box-shadow: 0 0 5px 5px #ccc;
    -webkit-box-shadow: 0 0 5px 5px #ccc;
    box-shadow: 0 0 5px 5px #ccc;
    .border-radius;
}

#title {
    font-size:2.2em;
    font-weight:bold;
    font-family:Xolonium;
}

#wire {
    color:@red;
}

#loading {
    display:block;
    vertical-align:40%;
    padding:3px 3px 7px 7px;
    font-weight:bold;
    color:@red;
    background-color:rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0 0 5px 5px #ccc;
    -webkit-box-shadow: 0 0 5px 5px #ccc;
    box-shadow: 0 0 5px 5px #ccc;
    .border-radius;
    position:absolute;
    bottom:10px;
    left:-5px;
    z-index:4;
    font-family:Xolonium;
}

.inactive {
    opacity:0.4;
}

.icon {
    font-family:Modernpics;
    font-size:2em;
}

.fnkey {
    padding-top:5px;
}

.fnkey a {
    color:black;
}

.fnkey a:hover {
    color:@red;
}

#searchbutton {
    padding:3px;
}

#beta {
    position:absolute;
    left:-45px;
    bottom:10px;
    color:@red;
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background-color:white;
    width:140px;
    text-align:center;
    padding:5px;
    font-size:1.2em;
    opacity:0.6;
    
}
