<!DOCTYPE html>
<html>
<head>
	<title>mapwire</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/media/favicon.ico" /> 
    <!--<link rel="stylesheet" href="/media/css/foundation.css">-->
    <link rel="stylesheet/less" href="/media/css/main.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://code.medialibre.net/leaflet/leaflet.css">
    <script type="text/javascript" src="http://code.medialibre.net/less.js" ></script>
    <script type="text/javascript" src="http://code.medialibre.net/jquery.js"></script>
    <!--<script type="text/javascript" src="/media/js/foundation.js"></script>
    <script type="text/javascript" src="/media/js/modernizr.foundation.js"></script>-->
    <script type="text/javascript" src="http://code.medialibre.net/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="/media/js/main.js"></script>
</head>
<body>
	<div id="map"></div>

	<script>
		var map = L.map('map');

		L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery Â© <a href="http://cloudmade.com">CloudMade</a>'
		}).addTo(map);

		function onLocationFound(e) {
			var radius = e.accuracy / 2;

			L.marker(e.latlng).addTo(map)
				.bindPopup("You are within " + radius + " meters from this point").openPopup();

			L.circle(e.latlng, radius).addTo(map);
		}

		function onLocationError(e) {
			alert(e.message);
		}

		map.on('locationfound', onLocationFound);
		map.on('locationerror', onLocationError);

		map.locate({setView: true, maxZoom: 16});
		
		
var elem = document.getElementById("map");
if (elem.requestFullScreen) {
  elem.requestFullScreen();
} else if (elem.mozRequestFullScreen) {
  elem.mozRequestFullScreen();
} else if (elem.webkitRequestFullScreen) {
  elem.webkitRequestFullScreen();
}
	</script>

<div id="container">
    <div id="title">map<span id="wire">wire</span>
        <!--<span id="loading"><img src="/media/images/loader.gif" alt="loading..." /></span>-->
        
        <img src="/media/images/myloc.svg" alt="my location" width="14" height="14" />
        <img src="/media/images/share.svg" alt="share" width="14" height="14" />
        <img src="/media/images/maximize.svg" alt="maximize" width="14" height="14" />
    </div>
    <div>
        <form>
            <input type="text" name="search" autofocus="autofocus" />
        </form>
    </div>
</div>

</body>
</html>

